<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security</title>
</head>
<body>
<h1>Info</h1>

<div th:object="${user}">
    <p>
        <br>
        <code th:text="${user.getUsername()}"></code>
        <br>
        <code th:text="${user.getAge()}"></code>
        <br>
        <code th:text="${user.getEmail()}"></code>
    </p>
    <p>
        <code>Your email is:</code>
        <code th:text="${user.getEmail()}"></code>
    </p>
</div>
<br>
<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>
